<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tutor Availability</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Available Tutors</h1>
    <ul>
        <% tutorAvailability.forEach(item => { %>
            <li>Tutor: <%= item.tutorName %>, Date: <%= item.date %>, Time: <%= item.time %></li>
        <% }) %>
    </ul>

    <a href="/tasks">Go back to Actions</a>
</body>
</html>
