<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Students</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Your Students</h1>
    
    <% if (students.length > 0) { %>
        <ul>
            <% students.forEach(function(item) { %>
                <li>Student: <%= item.studentName %>, Date: <%= item.date %>, Time: <%= item.time %></li>
            <% }); %>
        </ul>

    <% } else { %>
        <p>You have no assigned students yet.</p>
   <% } %>
   

    <a href="/tasks">Go back to Actions</a>
</body>
</html>
